@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?sctm59');
  src:  url('fonts/icomoon.eot?sctm59#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?sctm59') format('truetype'),
    url('fonts/icomoon.woff?sctm59') format('woff'),
    url('fonts/icomoon.svg?sctm59#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-coffee:before {
  content: "\e905";
}
.icon-lingdang:before {
  content: "\e906";
}
.icon-music-list:before {
  content: "\e907";
}
.icon-mv:before {
  content: "\e908";
}
.icon-play-light:before {
  content: "\e909";
}
.icon-ranking:before {
  content: "\e90a";
}
.icon-sousuo:before {
  content: "\e90c";
}
.icon-star:before {
  content: "\e90d";
  color: #bfbfbf;
}
.icon-stop:before {
  content: "\e90e";
}
.icon-zhuti:before {
  content: "\e90f";
}
.icon-Block:before {
  content: "\e900";
}
.icon-dynamic-more:before {
  content: "\e901";
}
.icon-find:before {
  content: "\e902";
}
.icon-headset:before {
  content: "\e903";
}
.icon-office:before {
  content: "\e904";
}
.icon-droplet:before {
  content: "\e90b";
}
.icon-headphones:before {
  content: "\e910";
}
.icon-music:before {
  content: "\e911";
}
.icon-spades:before {
  content: "\e917";
}
.icon-clubs:before {
  content: "\e918";
}
.icon-diamonds:before {
  content: "\e919";
}
.icon-mic:before {
  content: "\e91e";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-compass:before {
  content: "\e949";
}
.icon-compass2:before {
  content: "\e94a";
}
.icon-enlarge:before {
  content: "\e989";
}
.icon-shrink:before {
  content: "\e98a";
}
.icon-cog:before {
  content: "\e994";
}
.icon-road:before {
  content: "\e9b1";
}
.icon-bookmarks:before {
  content: "\e9d3";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-sleepy:before {
  content: "\e9fd";
}
.icon-volume-mute2:before {
  content: "\ea2a";
}
.icon-volume-increase:before {
  content: "\ea2b";
}
.icon-volume-decrease:before {
  content: "\ea2c";
}
.icon-radio-checked:before {
  content: "\ea54";
}
.icon-flickr4:before {
  content: "\eaa6";
}
